@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400+700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

$back: #555;
$front: #ccc;
$accent1:#008c00; 
$accent2: #64dfba;

$bordercolor: #aaa;

$time: 1200ms;

$sans: 'Open Sans', sans-serif; // Default
$ubuntu: 'Ubuntu', sans-serif;  // Menu
$oswald: 'Oswald', sans-serif;  // Logo and Headlines

$ease-in-out: cubic-bezier(0.165, 0.456, 0.665, 1);
$ease-in: cubic-bezier(0.165, 0.45, 0.665, 1);

$time: 1200ms;

$base: 3vh;

$navbarheight: 90px;


/*****************************************
 DEVICES
*****************************************/
$sm-device: 576px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1200px;

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

* { margin: 0; padding: 0; }

body,html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $back;
  color: $front;
}

.text-white { color: white !important; }

.content { padding: 0.5em };

.headline {
  color: #222;
  position: relative;
  width: auto;
  font-size: 30px;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #00D500;
    bottom: -6px;
    left: 0%;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;

  .col {
    flex: 1;
    box-sizing: border-box;
  }
}

/*
  NAVBAR
*/

.navbar {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-bottom: 1px solid $bordercolor;

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media screen and (max-width: $md-device) {
      flex-flow: column wrap;
    }
  }

  &__brand 
  {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    padding: $base 0 $base $base;
    text-shadow: 0 0 40px rgba(white, 0.5);
    z-index: 998;
    box-sizing: border-box;

    span {
      color: #aaa;
    }

    h1 {
      text-transform: uppercase;
      font-size: 34px;
      color: #00AC00;
      font-family: $oswald;
      letter-spacing: $base/18;
      font-weight: 900;
    }

    @media screen and (max-width: $lg-device) {
      h1 { font-size: 28px; }
    }

    @media screen and (max-width: $md-device) {
      h1 { font-size: 22px; }
    }
  }

  &__menu__container {

    @media screen and(max-width: $md-device) {
      position: absolute;
      top: 90px;
      width: 100%;
      background: white;
      z-index: 1;
      transform: translateY(0%);
      transition: transform $time/3 $ease-in-out;

      &--hidden {
        position: absolute;
        z-index: 1;
        transform: translateY(-100%);
        transition: transform $time/3 $ease-in-out;
  
        .navbar__menu {
          opacity: 0;
          transition: opacity $time/4 $ease-in-out;
        }
      }
    }
    
  }

  &__menu {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    opacity: 1;
    transition: opacity $time/4 $ease-in-out;

    @media screen and (max-width: $md-device) {
      flex-flow: column wrap;
    }

    li {  
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: 0 $base/2;

      @media screen and (max-width: $md-device) {
        &:last-child {
          margin-bottom: $base/2;
        }
      }

      @media screen and (max-width: $md-device) {
        padding: $base 0;
      }
    }
  }

  &__burger {
    position: absolute;
    z-index: 9999;
    top: 30px;
    right: 30px;

    @media screen and (min-width: $md-device){
      display: none;
    }

    i {
      cursor: pointer;
    }
  }

  &__link.active {
    pointer-events: none;
    cursor: none;
    color: rgba(#888, 1);
    transition: color $time/4 $ease-in;
    text-shadow: 0 0 40px rgba($accent1, 0.8);
    transition-delay: $time/2;

    @media screen and (min-width: $md-device) {
      &:before {
        opacity: 1;
        transform: scale(100%);
        transition: transform $time/2 ease-in-out, opacity $time/2 ease-in-out;
      }
      &:after {
        opacity: 1;
        transform: scaleX(100%);
        transition: transform $time/2 ease-in-out, opacity $time/2 ease-in-out;
      }
    }
  }

  @media screen and (min-width: $md-device) {
    &__link:after {
        content:'';
        position: absolute;
        background: $accent1;
        height: 1px;
        width: 100%;
        bottom: -4px;
        left: 0%;
        z-index: 5;
        opacity: 0;
        transform: scaleX(0%);
        transition: transform $time/2 ease-in-out, opacity $time/2 ease-in-out;
    }
  
    &__link:before {
        content:'';
        position: absolute;
        width: 6px;
        height: 6px;
        background: $accent1;
        border-bottom: 1px solid $accent1;
        border-right: 1px solid $accent1;
        rotate: 45deg;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        bottom: -7px;
        left: 50%;
        z-index: 5;
        transform: scale(0%);
        opacity: 0;
        transition: transform $time/2 ease-in-out, opacity $time/2 ease-in-out;
    } 
  }

  &__link, &__link__search {
    cursor: pointer;
    font-family: $ubuntu;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: $base/14;
    color: #222;
    transition: color $time/4 $ease-in;
    display: block;
    position: relative;
    z-index: 999;

    &:hover {
      color: rgba(#888, 1);
      text-shadow: 0 0 40px rgba(white, 0.5);
      transition: color $time/4 $ease-in-out, text-shadow $time/4 $ease-in-out;
    }
  }

  &__link__search {
    margin-left: $base*2;
    padding-left: 0;
  }
}


/*
  WRAP
*/

.wrap {
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  overflow-x: hidden;
}

/*
  PAGE
*/

.page[data-page="0"] {
  background-image: url(/gfx/kitchen2.jpg);
}
.page[data-page="1"] {
  background-image: url(/gfx/kitchen1.jpg);
}

.page {
  background-color: black;
  background-size: cover;
  min-height: calc(100% - 90px);
  width: 100%;
  position: absolute;
  transform: translateX(100%);
  animation: none;
  z-index: 1;
  box-sizing: border-box;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  .screen {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.325;
  }

  &--out {
    @keyframes out {
      0% { transform: translateX(0%) }
      98% { transform: translateX(-50%); opacity: 0; }
      99% { transform: translateX(-50%); opacity: 1; }
      100% { transform: translateX(100%); opacity: 1; }
    }
    animation-name: out;
    animation-duration: $time/2;
    animation-timing-function: $ease-in;
  }

  &--active {
    transform: translateX(0%);
    transition: transform $time/2 $ease-in;
    z-index:2;
  }
}

.header {
  position: relative;
  width: 100%;
  z-index: 5;
  box-sizing: border-box;
  padding: $base*2 0;

  @media screen and(min-width: $lg-device) {
    padding: 0;
  }


  &__content {
    color: white;
    z-index: 5;
    font-family: $oswald;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .welcome, .review {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      text-shadow: 0 0 10px rgba(black, 0.5);

      h1 {
        color: black;
        text-shadow: 0 0 10px rgba(white, 0.2);
      }

      span {
        line-height: 38px;
        font-family: $sans;
        letter-spacing: 1px;
        color: #dedede;
      }

      @media screen and (min-width: $md-device) {
        width: 90%;
      }
      
      @media screen and (min-width: $lg-device) {
        width: 50%;
      }
    }
    .review {
      margin-top: $base*2;
      
      h1:first-of-type {
        color: #00D500;
        text-shadow: 0 0 20px rgba(black, 0.765);
      }

      &__quote {
        font-size: 32px;
        margin: $base/2 0;
      }

      p {
        font-family: $sans;

        &:first-of-type {
          margin-bottom: $base;
        }
      }
    }
    
  }
}

.size {

  &__1 {
    font-size: 12px;
  }

  &__2 {
    font-size: 16px;
  }

  &__3 {
    font-size: 18px;
  }

  &__4 {
    font-size: 20px;
  }

  &__5 {
    font-size: 24px;
  }

  @media screen and (min-width: $lg-device) {

    &__1 {
      font-size: 16px;
    }
  
    &__2 {
      font-size: 20px;
    }
  
    &__3 {
      font-size: 22px;
    }
  
    &__4 {
      font-size: 24px;
    }
  
    &__5 {
      font-size: 28px;
    }
  }
}

.display {

  &__1 {
    font-size: 30px;
  }

  &__2 {
    font-size: 42px;
  }

  &__3 {
    font-size: 54px;
  }

  @media screen and (min-width: $lg-device) {
    &__1 {
      font-size: 44px;
    }
  
    &__2 {
      font-size: 56px;
    }
  
    &__3 {
      font-size: 68px;
    }
  }
}