@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:400+700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

$sans: 'Work Sans', sans-serif; // Default
$ubuntu: 'Ubuntu', sans-serif;  // Menu
$oswald: 'Oswald', sans-serif;  // Logo and Headlines

$back: #555;
$front: #ccc;
$accent1:#008c00; 
$accent2: #64dfba;
$bordercolor: #aaa;

$time: 1200ms;
$base: 3vh;

$ease-in-out: cubic-bezier(0.165, 0.456, 0.665, 1);
$ease-in: cubic-bezier(0.165, 0.45, 0.665, 1);

$navbarheight: 90px;

/*****************************************
 DEVICES
*****************************************/
$sm-device: 576px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1200px;

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

* { margin: 0; padding: 0; }

body,html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $back;
  color: $front;
  overflow: hidden;
}

.text-white { color: white !important; }

.content { padding: 0.5em };

.headline {
  color: #222;
  position: relative;
  width: auto;
  font-size: 30px;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #00D500;
    bottom: -6px;
    left: 0%;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;

  .col {
    flex: 1;
    box-sizing: border-box;
  }
}

@media screen and (orientation: landscape) {
  .landscape {
    
  }
}

#contact__window {

}

.contact__form {
  
  input, textarea {
    width: 100%;
    max-width: 100%;
    padding: 0.5em 1em;
    font-family: $sans;  
    box-sizing: border-box;
    border-radius: 3px;
    border: 0;
    color: #666;
    box-shadow: 0 0 10px rgba(black, 0.2);
  }

  textarea {
    resize: vertical;
  }

  input {
    margin-bottom: 1em;

    &[type="button"] {
      font-weight: bold;
      color: #666;
      width: 200px;
    }
  }
}

.contact__window {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100vw;
  height: 100vh;
  z-index: -9999;
  opacity: 0;
  transition: opacity $time/2 $ease-in-out;
  border-top: 1px solid $bordercolor;
  background: #008c00;

  .content {
    background: #008c00;
    padding: $base;
    padding-top: 30px;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    text-shadow: 0 0 10px rgba(black, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;

    @media screen and (max-width: $md-device) {
      width: 100%;
    }

    h1 {
      font-family: $oswald;
      color: #fff;
    }

    p {
      color: ghostwhite;
      text-shadow: 0 0 10px rgba(black, 0.2);
    }

    &__row {
      display: flex;
      flex-flow: column wrap;
    }

    &__col {

      .row {

        .col {
          margin-left: 0.5em;

          &:first-of-type {
            margin-left: 0;
            margin-right: 0.5em;
          }
        }

        @media screen and (max-width: $md-device) {
          flex-flow: column wrap;

          .col, .col:first-of-type {
            margin: 0;
          }
        }
      }
    }
  }

  &--active {
    opacity: 1;
    z-index: 999;
    transition: opacity $time/2 $ease-in-out;
  }
}

/*
  NAVBAR
*/

.navbar {
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-bottom: 1px solid $bordercolor;

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @media screen and (max-width: $md-device) {
      flex-flow: column wrap;
    }
  }

  &__brand 
  {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    padding: $base 0 $base $base;
    text-shadow: 0 0 40px rgba(white, 0.5);
    z-index: 998;
    box-sizing: border-box;
    user-select: none;

    span {
      color: #aaa;
    }

    h1 {
      text-transform: uppercase;
      font-size: 34px;
      color: #00AC00;
      font-family: $oswald;
      letter-spacing: $base/18;
      font-weight: 900;
      cursor: pointer;
    }

    @media screen and (max-width: $lg-device) {
      h1 { font-size: 28px; }
    }

    @media screen and (max-width: $md-device) {
      h1 { font-size: 22px; }
    }
  }

  &__menu__container {

    &--truehidden {
      display: none;
    }

    @media screen and(max-width: $md-device) {
      position: absolute;
      top: 90px;
      width: 100%;
      background: white;
      z-index: 1;
      transform: translateY(0%);
      transition: transform $time/3 $ease-in-out;

      &--hidden {
        position: absolute;
        z-index: 1;
        transform: translateY(-100%);
        transition: transform $time/3 $ease-in-out;
  
        .navbar__menu {
          opacity: 0;
          transition: opacity $time/4 $ease-in-out;
        }
      }
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    opacity: 1;
    transition: opacity $time/4 $ease-in-out;

    @media screen and (max-width: $md-device) {
      flex-flow: column wrap;
    }

    li {  
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: 0 $base/2;

      @media screen and (max-width: $md-device) {
        &:last-child {
          margin-bottom: $base/2;
        }
      }

      @media screen and (max-width: $md-device) {
        padding: $base 0;
      }
    }
  }

  &__burger {
    position: absolute;
    z-index: 9999;
    top: 30px;
    right: 30px;

    &--hidden {
      opacity: 0;
      display: none;
      transition: opacity $time/2 $ease-in-out;
    }

    @media screen and (min-width: $md-device){
      display: none;
    }

    i {
      cursor: pointer;
    }
  }

  &__close {
    position: absolute;
    z-index: 9999;
    top: 30px;
    right: 30px;
    display: none;
    opacity: 0;
    cursor: pointer;

    &--show {
      display: block;
      opacity: 1;
    }
  }


  &__link.active {
    pointer-events: none;
    cursor: none;
    color: rgba(#888, 1);
    transition: color $time/4 $ease-in;
    text-shadow: 0 0 40px rgba($accent1, 0.8);
    transition-delay: $time/2;

    @media screen and (min-width: $md-device) {

      &:before {
        opacity: 1;
        transform: scale(100%);
        transition: transform $time/2 ease-in-out, opacity $time/2 ease-in-out;
      }
    }
  }

  @media screen and (min-width: $md-device) {
  
    &__link:before {
      content:"\f078";
      font-family: 'FontAwesome';
      position: absolute;
      margin: 0 auto;
      bottom: -18px;
      left: 44%;
      z-index: 5;
      transform: scale(0%);
      opacity: 0;
      transition: transform $time/2 ease-in-out, opacity $time/2 ease-in-out;
    } 
  }

  &__link {
    cursor: pointer;
    font-family: $ubuntu;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: $base/14;
    color: #222;
    transition: color $time/4 $ease-in;
    display: block;
    position: relative;
    z-index: 999;
    user-select: none;

    &:hover {
      color: rgba(#888, 1);
      text-shadow: 0 0 40px rgba(white, 0.5);
      transition: color $time/4 $ease-in-out, text-shadow $time/4 $ease-in-out;
    }
  }
}


/*
  WRAP
*/

.wrap {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  overflow-x: hidden;
}

/*
  PAGE
*/

.page[data-page="0"] {
  background-image: url(/gfx/1.jpg);
}

.page[data-page="1"] {
  background-image: url(/gfx/3.jpg);
}

.page {
  background-size: auto 133%;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  transform: translateX(100%);
  z-index: 5;
  box-sizing: border-box;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and(max-width: $md-device) {
    background-size: auto 100%;
  }

  &--out {
    @keyframes out {
      0% { transform: translateX(0%); opacity: 1; }
      97% { transform: translateX(-100%); opacity: 1; }
      98% { transform: translateX(-100%); opacity: 1; }
      99% { transform: translateX(100%); opacity: 0; }
      100% { transform: translateX(100%); opacity: 1; }
    }
    opacity: 0;
    transition: opacity none;
    animation-name: out;
    animation-duration: $time;
    animation-iteration-count: 1;
    animation-timing-function: $ease-in;
  }

  &--active {
    transform: translateX(0%);
    transition: transform $time/2 $ease-in;
    z-index:6;
  }

  .screen {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.475;
  }
}

.header {
  position: relative;
  width: 100%;
  z-index: 5;
  box-sizing: border-box;

  @media screen and(min-width: $lg-device) {
    padding: 0;
  }

  &__content {
    color: white;
    z-index: 5;
    font-family: $oswald;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      text-shadow: 0 0 10px rgba(black, 0.5);

      @media screen and (min-width: $md-device) {
        width: 90%;
      }
      
      @media screen and (min-width: $lg-device) {
        width: 50%;
      }

      &__welcome {
          
        h1 {
          color: #00D500;
          text-shadow: 0 0 10px rgba(black, 0.2);
          margin-bottom: $base;
        }
  
        span {
          font-family: $sans;
          letter-spacing: 1px;
          color: #dedede;
          line-height: 1.25em;
        }
      }
      
      &__review__wrap {
          position: relative;
          display: flex;
          flex-flow: row wrap;
          height: 400px;
      }

      &__review {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: $base*2;
        padding: $base;
        font-family: $sans;
        opacity: 1;
        transform: translateX(0%);
        transition: transform $time $ease-in-out, opacity $time $ease-in-out;

        &--inactive {
          opacity: 0;
          user-select: none;
          transform: translateX(100%);
        }
        
        @keyframes out {
          0% {
            transform: translateX(0%);
            opacity: 1;
          }
          80% {
            transform: translateX(-100%);
            opacity: 0;
          }
          100% {
            transform: translateX(100%);
          }
        }

        &--out {
          animation-name: out;
          animation-duration: $time/2;
          animation-timing-function: $ease-in-out;
          opacity: 0;
          transition: opacity;
        }
        
        
        h1 {
          font-family: $oswald;
          color: darken(#00D500,5%);
          text-shadow: 0 0 10px rgba(black, 0.465);
        }
  
        &__quote {
          font-size: 32px;
          margin: $base/2 0;
        }
  
        p {
          font-weight: bold;
          color: #00D500;
          line-height: 1.25em;

          &:first-of-type {
            margin-bottom: $base;
            font-weight: normal;
            color: ghostwhite;
          }
        }
      }

      &__services {
        text-align: left;

        h1 {
          color: #00D500;
          text-shadow: 0 0 20px rgba(black, 0.665);
          margin-bottom: $base/5;

          &:not(:first-of-type) {
            margin-top: $base/2;
            color: darken(#00D500,5%);
          }
        }

        p {
          font-family: $sans;
          margin-bottom: $base/45;
          line-height: 1.25em;
          text-shadow: 0 0 10px rgba(black, 0.5);
        }
      }
    }
  }
}

.size {

  &__1 {
    font-size: 12px;
  }

  &__2 {
    font-size: 14px;
  }

  &__3 {
    font-size: 16px;
  }

  &__4 {
    font-size: 18px;
  }

  &__5 {
    font-size: 20px;
  }

  @media screen and (min-width: $lg-device) {

    &__1 {
      font-size: 16px;
    }
  
    &__2 {
      font-size: 20px;
    }
  
    &__3 {
      font-size: 22px;
    }
  
    &__4 {
      font-size: 24px;
    }
  
    &__5 {
      font-size: 28px;
    }
  }
}

.display {

  &__1 {
    font-size: 28px;
  }

  &__2 {
    font-size: 36px;
  }

  &__3 {
    font-size: 42px;
  }

  @media screen and (min-width: $lg-device) {
    &__1 {
      font-size: 44px;
    }
  
    &__2 {
      font-size: 56px;
    }
  
    &__3 {
      font-size: 64px;
    }
  }
}